/* Basic page styling */
html, body {
  position: relative;
  height: auto;
  max-height: 100%;
  width: 100%;
  font-size: 0.625em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #b3b3b3;
  background-color: #151b1e;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* 
 * Setting up the main grid 
 */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7.5rem;
  font-size: 1.6rem;
  z-index: 1;
}

/* socials on the left */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 7.5rem;
  width: 100%;
}

/* list with socials */
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0 2rem;
  margin: 0;
  list-style: none;
}

/* styling for the social links */
.socials--link,
.socials--link:hover,
.socials--link:active {
  color: inherit;
}

/* styling for the social icons */
.socials--icon {
  font-size: 2rem;
  margin: 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.socials--icon:hover,
.socials--icon:active {
  color: #1aa5ef;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

/* Main content in de middle */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

/* Email on the right */
.email {
  display: none;
}

/* Selection color */
::-moz-selection {
  color: #151b1e;
  background: #1aa5ef;
}

::selection {
  color: #151b1e;
  background: #1aa5ef;
}

/* Header styling */
.header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #151b1e;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 100;
}

/* Removing the navbar on scroll down */
.navbar--hide {
  -webkit-transform: translateY(-8.5rem);
          transform: translateY(-8.5rem);
}

/* Header box-shadow when it is not fixed */
.navbar--shadow {
  -webkit-box-shadow: 0px 0px 0.5rem gray;
          box-shadow: 0px 0px 0.5rem gray;
}

/* Navbar styling */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 0;
}

/* Hamburger navbar wrapper */
.navbar__handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
}

/* Basic hamburger navbar styling */
.navbar--bar {
  background-color: #1aa5ef;
  margin: 0.25rem 0 0.5rem auto;
  max-width: 2rem;
}

/* Making every bar a bit smaller */
#navbar1 {
  padding: 0.125rem 1.5rem;
}

#navbar2 {
  padding: 0.125rem 1.25rem;
}

#navbar3 {
  padding: 0.125rem 1rem;
}

/* Mobile sidebar with nav ul */
.mobile__wrapper {
  position: absolute;
  top: 0;
  right: calc(-60vw - 15px);
  background-color: #212b30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 100vh;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* Mobile sidebar active */
.mobile__wrapper--active {
  right: calc(0% - 15px);
}

/* The navbar list */
.navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Navbar items */
.navbar__item {
  counter-increment: item 1;
  text-align: center;
  margin: 1.25rem 0.5rem;
}

/* Giving the navbar link more margin on mobile */
#navbar-item-cv-link {
  margin-top: 2.5rem;
}

/* Navbar links */
.navbar--link,
.navbar--link:visited {
  font-size: 2rem;
  color: #b3b3b3;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.navbar--link::before {
  content: "0" counter(item) ".";
  text-align: right;
  color: #1aa5ef;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
}

.navbar--link:hover,
.navbar--link:active,
.navbar--link:focus {
  color: #1aa5ef;
  text-decoration: none;
}

/* Styling the resume link */
#cv-link {
  color: #1aa5ef;
  line-height: 1;
  text-decoration: none;
  border: 0.1rem solid #1aa5ef;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  top: 0.5rem;
  padding: 1rem 2rem;
}

/* Removing the counter before the link */
#cv-link::before {
  display: none;
}

/* Cross to close mobile navbar */
.navbar__close {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
}

/* Responsiveness of the menu */
@media only screen and (min-width: 768px) {
  /* Removing the hamburger menu */
  .navbar__handler {
    display: none;
  }
  /* Changing the mobile wrapper */
  .mobile__wrapper {
    position: relative;
    top: unset;
    right: unset;
    background-color: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: auto;
  }
  /* Making the navbar list horizontal */
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Chaning the margin of the navbar list items */
  .navbar__item {
    margin: 0.5rem 1.25rem;
  }
  /* Removing the extra margin */
  #navbar-item-cv-link {
    margin: 0.5rem 1.25rem;
  }
  /* Changing the font size of the navbar links */
  .navbar--link {
    font-size: 1.6rem;
  }
  /* Removing the navbar closing button */
  .navbar__close {
    display: none;
  }
}

/* Basic table styling */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Basic table row styling */
.table__row {
  border: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.table__row:hover,
.table__row:focus {
  background-color: #212b30;
}

/* Table head styling */
.table .table__head {
  color: #b3b3b3;
  font-size: 2rem;
  text-align: left;
  line-height: 1.5;
  border: none;
  padding: 1rem 2rem;
  cursor: default;
}

/* Table data styling */
.table .table__data {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  padding: 1.5rem 2rem 1rem;
  border: none;
  cursor: default;
}

/* Table column year */
.table .table--year {
  width: 10%;
  color: #1aa5ef;
  font-family: "Roboto Mono", monospace;
}

/* Table column title */
.table .table--title {
  color: #ccd6eb;
  font-size: 1.6rem;
  font-weight: 700;
}

/* Table column company */
.table .table--company {
  width: 15%;
  font-size: 1.8rem;
}

/* Table comumn technologies */
.table .table--technologies {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}

/* Table column link */
.table .table--link {
  width: auto;
}

/* Table icon styling */
.table--icon {
  color: gray;
  font-size: 2rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.table--icon:hover,
.table--icon:focus {
  color: #1aa5ef;
}

/* Hiding items on mobile */
.mobile--hide {
  display: none;
}

@media only screen and (min-width: 576px) {
  /* Making the font size of company bigger */
  .table .table--title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  /* Showing items with mobile--hide */
  .mobile--hide {
    display: table-cell;
  }
}

/* Styling for sections sections before they fade in */
.section--fade-in {
  margin-top: 5vh;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Section when the animation is finished */
.section--visible {
  margin-top: 0;
  opacity: 1;
}

/* Styling for the sidebar before the fade-in */
.sidebar--fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.sidebar--visible {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  /* resizing the main grid */
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .socials {
    width: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* list with socials */
  .socials__list {
    position: fixed;
    bottom: 0;
    left: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 3.5rem;
  }
  /* Line under the socials */
  .socials__list::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: 9rem;
    margin: 0px auto;
    background-color: #b3b3b3;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    max-width: 160rem;
    padding-bottom: 2rem;
  }
  /* Email sidebar */
  .email {
    position: fixed;
    bottom: 0;
    right: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 7.5rem;
    width: 10%;
  }
  /* Line under the email */
  .email::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: 9rem;
    margin: 0px auto;
    background-color: #b3b3b3;
  }
  /* Styling the email link */
  .email__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    margin: 1rem;
    color: inherit;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  /* Email link hover */
  .email__link:hover {
    color: #1aa5ef;
    text-decoration: none;
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
}

@media only screen and (min-width: 992px) {
  /* Making the list with sociales larger */
  .socials__list {
    left: 4rem;
  }
  /* Making the email larger */
  .email {
    right: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */